---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Image from '../components/Image.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="snap">
	<Nav />
	<main>
		<Image />
		<Hero />
	</main>
</Layout>

<style lang="scss">

	@media (min-width: 768px) {
		main {
			display: flex;
			flex-direction: row-reverse;
			max-width: 1145px;
			margin: 0 auto;
			padding: 0 16px;
			box-sizing: content-box;
			justify-content: space-between;
			gap: 80px;
			align-items: center;
		}
	}
	
	@media (min-width: 1024px) {
		main {
			align-items: flex-end;
			gap: 125px;
		}
	}
</style>
