---
import imageMob from '../images/image-hero-mobile.png';
import imageDesktop from '../images/image-hero-desktop.png';
---

<div class="imageContainer">
    <picture>
        <source media="(min-width:768px)" srcset={imageDesktop}>
        <img src={imageMob} alt="pattern" class="image">
    </picture>
</div>

<style lang="scss">
    .imageContainer {
        max-height: 350px;
        overflow: hidden;
    }
    .image {
        width: 100%;
        object-fit: cover;
        object-position: top center;
    }

    @media (min-width: 768px) {
        .imageContainer {
            max-width: 480px;
            max-height: none;
        }
    }

</style>